tabs:
  main:
    display: main
    sections:
      -
        fields:
          -
            handle: default_list_name
            field:
              type: text
  users:
    display: 'Users'
    sections:
      -
        fields:
          -
            handle: add_new_users
            field:
              display: 'Add new users to a mailing list as they are created?'
              type: toggle
              default: false
          -
            handle: users
            field:
              fields:
                -
                  handle: audience_id
                  field:
                    display: 'Audience ID'
                    type: mailchimp_audience
                    mode: select
                    max_items: 1
                    width: 25
                -
                  handle: tag
                  field:
                    display: 'Tag'
                    type: mailchimp_tag
                    max_items: 1
                    width: 25
                -
                  handle: tag_field
                  field:
                    display: 'Tag Field'
                    type: form_fields
                    max_items: 1
                    width: 25
                -
                  handle: interests_field
                  field:
                    display: 'Interests Field'
                    type: user_fields
                    width: 25
                -
                  handle: disable_opt_in
                  field:
                    display: 'Disable Opt In?'
                    type: toggle
                    width: 33
                    default: false
                -
                  handle: check_consent
                  field:
                    display: 'Check Consent?'
                    type: toggle
                    width: 33
                    default: false
                -
                  handle: consent_field
                  field:
                    display: 'Consent Field'
                    type: user_fields
                    width: 33
                    if:
                      check_consent: true
                -
                  handle: merge_fields
                  field:
                    fields:
                      -
                        handle: field_name
                        field:
                          input_type: text
                          display: User Field
                          type: user_fields
                          icon: text
                          listable: hidden
                      -
                        handle: tag
                        field:
                          input_type: text
                          display: 'Merge Field'
                          type: mailchimp_merge_fields
                          max_items: 1
                          icon: text
                          listable: hidden
                    mode: table
                    reorderable: true
                    display: 'Merge Fields'
                    type: grid
                    icon: grid
                    add_row: 'Add Merge Field'
                    listable: hidden
              display: ' '
              instructions: 'Add the forms you want to process Mailchimp submissions for.'
              type: grid
              mode: stacked
              max_rows: 1
              min_rows: 1
              reorderable: false
              fullscreen: false
              if:
                add_new_users: 'equals true'
